<nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RentaMov</a>
        <button mat-icon-button aria-label="Collapse icon" id="botonlogout" (click)="cerrarsesion()">
            <mat-icon>logout</mat-icon>
          </button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <a routerLink="/inicio_app_mobile">Volver</a>
      </div>
</nav>


<br>


<router-outlet></router-outlet>

